.faq {
  cursor: pointer;
}

.compCON-1 {
  background-color: #b99b64;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 24px;
  padding-right: 24px;
}

.compCON-1 p {
  line-height: 1.8;
  margin-top: 12px;
  margin-bottom: 12px;
}

.compCON-1 summary {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 24px;
  cursor: pointer;
}

.compCON-1 summary span {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

.compCON-1 summary i {
  margin-right: 8px;
}

.compCON-1 details p {
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}

.compCON-1 {
  display: none;
}

.visible {
  display: flex;
  flex-direction: column;
}

.contact {
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact h3 {
  margin-bottom: 28px;
  margin-top: 12px;
  text-align: center;
}

.form {
  max-width: 480px;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.form span {
  display: flex;
  width: 100%;
  height: 48px;
  background-color: #1f1f1f;
  margin-top: 12px;
  margin-bottom: 12px;
}

.form .fichier p {
  font-size: 14px;
  font-style: italic;
  padding: 12px;
}

.form label {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.form .parcourir {
  background-color: #b99b64;
  display: flex;
  align-items: center;
  padding: 12px;
  max-width: 220px;
  cursor: pointer;
  height: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}

.terms {
  display: flex;
}

.terms p {
  margin-left: 12px;
}

.form span.big {
  height: 180px;
  margin-bottom: 24px;
}

.form a {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-top: 24px;
  background-color: #b99b64;
  height: 48px;
  font-weight: 500;
  height: 60px;
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
}
